.idea/
report/
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake-build-release/
cmake_install.cmake
*.cbp
step-*
*.md
*.txt
*.pdf
*.gpl
*.vtk
*.log
*.aux
*fdb_latexmk
*.fls
plot_convergence.py
.ipynb_checkpoints
